<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>NSPasteboardUsageDescription</key>
	<string>クリップボードの履歴を保存するためにクリップボードへのアクセスが必要です。</string>
	<key>UIPasteboardAcceptablePasteboardTypes</key>
	<array>
		<string>public.text</string>
		<string>public.image</string>
	</array>
</dict>
</plist>
