<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>ClipKit</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>BANNER_AD_UNIT_ID</key>
	<string>$(BANNER_AD_UNIT_ID)</string>
	<key>INTERSTITIAL_AD_UNIT_ID</key>
	<string>$(INTERSTITIAL_AD_UNIT_ID)</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.entaku.clipkit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clipkit</string>
			</array>
		</dict>
	</array>
	<key>NSPasteboardUsageDescription</key>
	<string>クリップボードの履歴を保存するためにクリップボードへのアクセスが必要です。</string>
	<key>UIPasteboardAcceptablePasteboardTypes</key>
	<array>
		<string>public.text</string>
		<string>public.image</string>
	</array>
</dict>
</plist>
